body {
  background: #3C3C3C;
  margin: 1.5em 0em 0em 0em;
  font-family: 'Poppins', sans-serif;
  color: white;
  max-width: 100%;
  overflow-x: hidden;
}

div.wrapper {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
}

nav.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.5em;
}

header a {
  font-weight: bold;
}

header .menu {
  width: 3em;
  margin-top: -0.0em;
}

header nav {
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  height: 100vh;
  width: 50%;
  z-index: 10;
  text-transform: uppercase;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

header nav ul a {
  color: #000;
  padding: 0.75em 2em;
  display: block;
}

header nav .close {
  width: 2em;
  height: 2em;
  float: right;
  margin: 2em;
}

div.cv h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  margin-top: 3em;
}

div.cv a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  pointer-events: none;
}

section.me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 4em;
  margin-bottom: 4em;
}

section.me img {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.me h1 {
  font-size: 2.0em;
}

section.me a {
  color: #3C3C3C;
}

section.academic_education {
  margin: 1.5em;
}

section.academic_education div.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 1em;
}

section.academic_education div.content div p {
  margin-top: -1em;
}

section.professional_experience {
  margin: 1.5em;
}

section.professional_experience div.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 1em;
}

section.professional_experience div.content div p {
  margin-top: -1em;
}

section.extra_activities {
  margin: 1.5em;
  margin-bottom: 10em;
}

section.extra_activities div.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 1em;
}

section.extra_activities div.content div p {
  margin-top: -1em;
}

section.imprint {
  text-align: center;
  background-color: #000;
  margin-left: -10em;
  margin-right: -10em;
  margin-bottom: -10em;
  margin-top: 5em;
}

section.imprint .contact {
  padding-top: 2em;
}

section.imprint ul {
  display: inline-block;
  list-style-type: none;
}

section.imprint ul svg {
  width: 2em;
  height: 2em;
}

section.imprint ul a {
  font-size: medium;
}

@media only screen and (min-width: 1000px) {
  body {
    margin: 2.5em 8rem;
  }
  .menu {
    display: none;
  }
  div.wrapper {
    max-width: 100%;
    overflow-x: unset;
  }
  header nav {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  header nav .close {
    display: none;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  header nav ul a {
    color: #fff;
    padding: 1.5em;
    font-weight: 100;
    font-size: 1.0rem;
  }
  header nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  section.me {
    margin-top: 10em;
    margin-bottom: 12em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.me h1 {
    font-size: 6em;
  }
  section.me img {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  div.cv {
    margin: 6em;
  }
  div.cv h2 {
    font-size: 2.5em;
  }
  div.cv h4 {
    font-size: 1.75em;
  }
  div.cv h4.date {
    width: 200px;
  }
  div.cv p {
    font-size: 1.25rem;
  }
  div.cv section.academic_education .content div {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 750px;
  }
  div.cv section.professional_experience .content div {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 750px;
  }
  div.cv section.extra_activities .content div {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 750px;
  }
}
/*# sourceMappingURL=about.css.map */